/Código/GerenciadorPampatec/target/
Código/GerenciadorPampatec/src/main/java/com/ideiah/gerenciadorpampatec/controller/IndexBean.java
Engenharia/modeloER.mwb.bak
/Código/GerenciadorPampatec/nbproject/
/code/GerenciadorPampatec/target/