
.botaoCadastrar {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #4fb319));
	background:-moz-linear-gradient(top, #44c767 5%, #4fb319 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #4fb319 100%);
	background:-o-linear-gradient(top, #44c767 5%, #4fb319 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #4fb319 100%);
	background:linear-gradient(to bottom, #44c767 5%, #4fb319 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#4fb319',GradientType=0);
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:4px solid #23b832;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	padding:20px 40px;
	text-decoration:none;
	text-shadow:0px 0px 50px #2f6627;
}
.botaoCadastrar:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #4fb319), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #4fb319 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #4fb319 5%, #44c767 100%);
	background:-o-linear-gradient(top, #4fb319 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #4fb319 5%, #44c767 100%);
	background:linear-gradient(to bottom, #4fb319 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4fb319', endColorstr='#44c767',GradientType=0);
	background-color:#4fb319;
}
.botaoCadastrar:active {
	position:relative;
	top:1px;
}
