/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/09/2015, 15:19:39
    Author     : Jhonatan Moura
*/

.erro {

    color: red;


}

.sucesso {

    color: greenyellow;
    /*    color: #ffffff;
        border-color: black;
        padding: 15px 20px;
        border-style: solid;
        background-image: linear-gradient(, #EE5F5B 60%, #EC4D49);
        background-repeat: no-repeat;
        filter: none;
        border-color: rgba(0, 0, 0, 0.6);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/

}

.bordas {
    padding: 5px;
    text-align: center;
    border-bottom: 2px solid #3FB618;
    
}

.fundoVerde {
    color: white;
    background-color: #3FB618;
}

.espaco {
    padding-top: 4px;
    padding-bottom: 4px;
}
