<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--SE NÃO QUISER QUE APAREÇA AS MENSAGENS DE PROBLEMAS PARA O USUÁRIO MUDE O VALOR PARA Production-->
        <!--<param-value>Development</param-value>-->
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <filter>
        <filter-name>RecuperarSenhaFilter</filter-name>
        <filter-class>com.ideiah.gerenciadorpampatec.controller.RecuperarSenhaFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.ideiah.gerenciadorpampatec.controller.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/faces/view/empreendedor/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilterGerente</filter-name>
        <filter-class>com.ideiah.gerenciadorpampatec.controller.LoginFilterGerente</filter-class>
    </filter>
    <filter>
        <filter-name>EnviarProjetoFilter</filter-name>
        <filter-class>com.ideiah.gerenciadorpampatec.controller.EnviarProjetoFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>EnviarProjetoFilter</filter-name>
        <url-pattern>/faces/view/empreendedor/enviarProjeto.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilterGerente</filter-name>
        <url-pattern>/faces/view/gerentederelacionamento/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CompletarCadastroFilter</filter-name>
        <url-pattern>/faces/terminarCadastroEmpreendedor.xhtml</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RecuperarSenhaFilter</filter-name>
        <url-pattern>/faces/recuperarSenha.xhtml</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <!--<welcome-file>faces/view/cadastroEmpreendedor.xhtml</welcome-file>-->
        <welcome-file>faces/loginEmpreendedor.xhtml</welcome-file>
    </welcome-file-list>
    
    <filter>
        <filter-name>CompletarCadastroFilter</filter-name>
        <filter-class>com.ideiah.gerenciadorpampatec.controller.CompletarCadastroFilter</filter-class>
    </filter>
</web-app>
